<hr class="widget-separator no-margin">
<ul id="recentcomments">
  <li class="recentcomments">
    <span class="comment-author-link"><%= comment.user_name %></span>
    <%= t ".comment" %> <a href="#"><%= comment.commentable.title %></a>
  </li>
</ul>
