<ul id="recentcomments">
  <li class="recentcomments">
    <span class="comment-author-link"><%= comment.user_name %></span>
    <%= t ".comment" %> <a href="#"><%= comment.post_title %></a>
  </li>
</ul>
