<hr class="widget-separator no-margin">
<div class="media-group">
  <div class="media-group-item">
    <div class="media">
      <div class="media-left">
        <div class="avatar avatar-md avatar-circle">
          <%= image_tag user.avatar, class: "img-responsive center-block" %>
        </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to user.name, user_path(user.id) %></h4>
        <small class="media-meta"><%= user.position %></small>
      </div>
    </div>
  </div>
</div>
