<div class="full-section search-section">
  <div class="search-area container">
    <h3 class="search-title"><%= t ".search_panel.title" %></h3>
    <p class="search-tag-line"><%= t ".search_panel.content" %></p>
    <form autocomplete="off" method="get" class="search-form clearfix" id="search-form">
      <input type="text" title="* Please enter a search term!"
        placeholder="Type your search terms here" class="search-term " autocomplete="off">
      <input type="submit" value="Search" class="search-btn">
    </form>
  </div>
</div>
