<ul class="pager move-week-button">
  <li class="previous-week"><a href="javascript:" class="pull-left">
    <i class="glyphicon glyphicon-chevron-left"></i></a></li>
  <li class="filter-rank"><%= t "filter_weekly.feedback_from" %>
    <%= change_format_date support.filter_type[:from_day] %>
    <%= t "filter_weekly.to" %> <%= change_format_date support.filter_type[:to_day] %></li>
  <% if support.check_next_thursday == false %>
    <li class="next-week"><a href="javascript:" class="pull-right">
      <i class="glyphicon glyphicon-chevron-right"></i></a></li>
  <% end %>
</ul>
