<div class="col-md-12">
  <h4>
    <div class="content-post">
      <%= raw answer.content %>
    </div>
    <%= t ".on" %>
    <%= link_to answer.post.title, post_path(answer.post.id) %>
  </h4>
</div>
