<%= form_for improvement ,method: :put, remote: :true do |f| %>
  <div class="form-group improve-content">
    <h2><%= t ".post_your_improvement" %></h2>
    <%= f.text_area :content, minlength: Settings.post.min_title,
      require: true, class: "form-control ckeditor" %>
  </div>
  <%= f.submit yield(:improve_text), class: "btn btn-primary btn-lg btn-block improve-btn" %>
<% end %>
