<div class="col-md-3">
  <div class="fixed-size-square cursor-custom"
    onclick="location.href='<%= root_path + '?tag_id=' %> + <%= tag.id %>'">
    <span><%= tag.name %></span>
 </div>
 <br>
</div>
