@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.display-none {
  display: none;
}

.tag-user-item {
  background: #d8d8d8;
  padding: 0 4px;
  color: #028c0f !important;
  border-radius: 4px;
  margin: 5px;
}

.tagUsers-search {
  margin: 5px;
  border: solid 1px rgba(128, 128, 128, 0.71);
  border-radius: 5px !important;
}

.tagUsers-list-user {
  margin: 5px;
  overflow-y: scroll;
  max-height: 100px;
  .tags-user-item {
    margin: 2px 0 !important;
    padding: 3px 5px !important;
  }
  .tags-user-item:hover {
    background: rgba(128, 128, 128, 0.35);
    cursor: pointer;
  }
}

.img-upload {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.truncate-post {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.post-not-answers {
  font-weight: 200;
  font-style: italic;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: gray;
}

.vote-of-post {
  font-size: 25px;
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 1px 1px grey;
  border-radius: 10px;
  .point-vote {
    padding: 5px 0;
  }
  .btn-vote:hover {
    text-shadow: 1px 1px 3px;
  }
}

.fa-thumbs-down {
  transform: rotateY(3rad);
  -moz-transform: rotateY(3rad);
  -webkit-transform: rotateY(3rad);
  -ms-transform: rotateY(3rad);
  -o-transform: rotateY(3rad);
}

.topic-active {
  color: #be161e !important;
  text-shadow: 1px 1px 1px rgba(190, 22, 30, 0.38);
}

.float-right {
  float: right;
}

a:hover {
  text-shadow: 0.5px 0.5px 3px;
}

.comment-list {
  margin-left: 10%;
  .comment-item {
    padding: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    .item-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: solid 1px;
      position: absolute;
      top: 30px;
      transform: translateY(-50%);
    }
    .item-body {
      padding-left: 60px;
      .item-name {
        display: inline;
      }
      .item-time {
        font-size: 10px;
        display: inline;
        float: right;
        text-transform: uppercase;
      }
    }
  }
}

.comment-new {
  display: none;
}

.add-new-comment {
  padding-left: 10%;
}

p {
  img {
    height: auto !important;
  }
}

.one-line {
  width: 100%;
  border: solid 0.5px #e5eaef;
  border-bottom: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.all_tags {
  float: right;
}

.modal {
  .modal-header {
    background-color: #be161e;
    color: white;
  }
}

.resize-none {
  resize: none;
}

.fixed-size-square {
  display: table;
  width: 180px;
  height: 180px;
  background: #4679BD;
}
.fixed-size-square span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 20px;
}

.cursor-custom {
  cursor:pointer;
}

.pd-top-10 {
  padding-top: 10px;
}

.notification-text {
  top: 20%;
}

.wsm {
  background-color: #ff8100;
  width: 100%;
  color: white;
  .icons {
    float: left;
    margin-left: 20px !important;
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.wsm:hover {
  background-color: #ff8100;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px;
}

.wsm-icon {
  width: 56.5px;
}

.mg-bt-0 {
  margin-bottom: 0 !important;
}
.content-post{
  max-height: 73px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}
.listing-grid p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-center.owner-avatar{
  width: 12%
}
@media (min-width: 992px){
  .content-notification{
    margin-left: -80px !important;
  }
  .search-header{
    width: 120% !important;
  }
}
@media (min-width: 768px){
  .content-notification{
    margin-left: -15px;
  }
}

.btn-submit-search{
  left: 15px;
  top: 10px;
  position: absolute;
  z-index: 2;
  background: none;
  border: none;

}
.btn-submit-search:focus{
  outline:0;
}
.time-notification{
  float: right;
}
.time-notification .time{
  padding-top: 50px !important;
  padding-right: 0px !important;
}
.info-tag .list-tags .tag-item{
  margin-left: 0px;
}
.info-tag {
  padding-left: 0px;
}
.info-tag .custom-padding{
  padding: 30px 0 20px 0
}
.section-margin-bottom{
  margin-bottom: 50px;
}
.list-tab > li.active > a{
  color: #be161e !important;
}
.list-tab > li a{
  color: #000;
  margin-right: 0px !important;
}
.list-tab > li > a:hover{
  color: #be161e !important;
}
.list-tab > li.active {
  border-top: #be161e solid 3px !important;
  border-radius: 4px;
}
.list-tab > li{
  border-top: #fff solid 3px !important;
  border-radius: 4px;
}
.tab-post .tab-content{
  margin-top: 0px !important;
  border-right: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tab-post .tab-pane{
  padding: 50px 25px 0px 25px;
}
.paginate-notify{
  padding-top: 30px;
}
.setting .panel-group .panel {
  border-radius: 4px;
  border: 1px solid #ddd;
}
.setting .panel-group .panel table tr td {
  border-top: 1px solid #f4f4f4;
  color: #333;
}
.setting .panel-group .panel table > thead > tr > th {
  border-bottom: 2px solid #f4f4f4;
  color: #333;
}
.setting .panel-group .panel.none-border table tr td,
.setting .panel-group .panel.none-border table tr th {
  border-top: none;
}
.setting .panel-group .panel.none-border table .form-control {
  border-radius: 4px !important;
  border-color: #d2d6de;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.setting .panel.none-border table {
  margin-bottom: 20px !important;
}
.setting .choose_language {
  line-height: 2.3;
  color: #333;
}
.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: rgba(2, 121, 2, 0.91);
  color: #FFFFFF;
  text-align: left;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: rgb(190, 22, 30);
  color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 27px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-3 label {
  cursor: not-allowed;
}
.custom-error{
  color: #be161e;
}
.btn-login .icon{
  padding-left: 8px !important;
}
.item-answer > .content{
  clear: both;
}
.item-answer > .mar-btm > .item-name{
  float: left;
}
.item-answer > .mar-btm > .item-time{
  float: right;
}
.clips-tab > li.active > a {
  color: #be161e !important;
  border-top: 3px solid #be161e;
}
.clips-tab > li > a {
  color: #999999;
}
.clips-tab > li >a:hover {
  color: #be161e !important;
}
.custom-share-cmt{
  position: absolute;
  padding-left: 77%;
  z-index: 99;
}
.custom-share{
  position: absolute;
  padding-left: 93%;
}
.btn-share{
  padding: 10px;
}
.content-notification .content.custom-content{
  margin-left: -15px;
}
.work_space_name{
  font-style: italic;
  font-weight: 300;
}
.profile-title{
  padding: 20px 0!important;
}
.next-page {
  margin-left: 10%;
}
.btn-new-comment {
  padding-left: 0px !important;
}
.btn-new-comment a {
  padding-left: 0px !important;
}
.bottom-comments {
  margin-left: 10%;
}
.not-link > ul > li > a, .not-link.app-grid {
  cursor: default;
}
.vertical-center{
  margin-top: 15px;
}
.best-answer{
  float: right;
}
.best-answer > .ribbon.base {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 0px;
}
.item-answer > .mar-btm > .item-time {
  margin-left: 10px;
}
.center-three-col{
  display: flex;
  justify-content: center;
}
.social2.wsm-account >a{
  padding: 57px 20px;
}
.search-area.container > center >p {
  max-width: 700px;
}
.padding-img {
  padding-left: 30px;
  padding-right: 30px;
}
.red-title {
  color: RED;
}
.icon-addon.addon-lg.search-header > input, .search-area input.search-term.search-input {
  border-radius: 1px;
}
.message-alert {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1111;
}
.top-bar {
  position: fixed;
  top: 0px;
  z-index: 1111;
  width: 100%;
}
.navbar-default {
  margin-top: 45px;
}

.alert.alert-notice {
  background-color: #ffffaa;
  color: #ffcc00;
}
.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
.nothing-message {
  color: #0020f8;
}
.version-status-accept {
  color: #ffffff!important;
  background-color: #23ff34;
  border-radius: 4px;
}
.version-status-waiting {
  color: #ffffff!important;
  background-color: #1bbbff;
  border-radius: 4px;
}
.version-status-improve {
  color: #ffffff!important;
  background-color: #fd9985;
  border-radius: 4px;
}
.version-status-reject{
  color: #ffffff!important;
  background-color: #de54ff;
  border-radius: 4px;
}
.nothing-message{
  color: #0212ff;
}
.post-content{
  color: #000000;
}
.content{
  color: #000000;
}
.more{
  color: #000000;
  position: relative;
  top: -50px;
}
.notifyjs-corner {
  position: fixed;
  top: 40px !important;
  right: 0px !important;
  z-index: 1111;
}
.select-location {
  padding-top: 10px;
  margin-bottom: 0px !important;
}
.custom-height > select{
  height: 38px;
  padding: 0px 12px;
}
.top-nav.nav-left > li{
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 15px 0 0 !important;
}
.fr-emoticon.fr-deletable.fr-emoticon-img{
  width: 22px;
  background-repeat: no-repeat !important;
  display: inline-block;
}
.border-table > table > tbody > tr >td{
  border: 1px solid #ddd;
}
.border-table > table > thead > tr > th{
  background: #e6e6e6;
}
#modal-show-reactions{
  padding-top: 10%;
}
.reactions-list-item{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.reactions-list-item img{
  border-radius: 50%;
  width: 10%;
}
.list-user-reactions{
  padding-top: 10px;
}
.name-user-reactions{
  padding-left: 10px;
}
.reactions-tab{
  margin-top: 5px!important;
}
.reactions-custom-modal{
  width: 70%;
  margin-left: 20%;
}
.tagcloud{
  padding-top: 15px;
}
.link-reaction{
  color: red!important;
  padding-right: 5px;
}
.cke_combopanel { width: 200px !important}
.cke_panel_list .cke_panel_listItem  a:hover {
  background-color: #ddd !important;
  border: #028c0f solid 1px;
  border-top-right-radius: 15px;
  color: #028c0f !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin-left: 10px !important;
  border: none;
  text-shadow: 0.5px 0.5px 3px;
}
.cke_panel_listItem a:focus {
  background-color: #fff !important;
  outline: none !important;
  color: #000 !important;
  margin-left: 0px !important;
  text-shadow: none !important;
}
.tagUsers-search.cke_search{
  width: 157px !important;
}
#cke_80_option{
  border-bottom: 1px solid #000;
}
.listing-grid img.smiley{
  max-width: 23px;
}
mark{
  background: none;
  color: #be161e;
}
.pull-right.tagcloud .search-highlight{
  float: left;
}
.list-top-tags .tag-item span.tag-name{
  border: none;
  margin: 0;
  padding: 0 5px;
  border-radius: 0px;
  background: none;
  color: black;
}
.list-top-tags.in-create-post {
  max-height: 35px;
  overflow: hidden;
}
.tagsinput-height > .tagsinput {
  min-height: 50px !important;
  height: 50px !important;
  padding: 6px 5px 0 5px;
}
.tagsinput-height > .tagsinput span.tag {
  padding: 4px;
}
.cke_code_icon {
  background: RED;
  width: 18px;
  display: inline-block;
  height: 18px;
  background: image-url('codesnippet');
}
.location-dropbtn {
  background-color: #be161e;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.location-dropdown {
  position: relative;
  display: inline-block;
}
.location-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.location-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.location-dropdown-content a:hover {
  background-color: #f1f1f1
}
.location-dropdown:hover .location-dropdown-content {
  display: block;
}
.location-dropdown:hover .location-dropbtn {
  background-color: #3e8e41;
}
.funkyradio label{
  border: 1px solid #e7e7e7;
  padding-right: 20px;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty{
  display: none;
}
.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label{
  height: 50px;
  position: relative;
  line-height: 48px;
  left: -18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.funkyradio input[type="checkbox"]:empty ~ label{
  text-indent: 100px !important;
  font-size: 20px;
}
.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 50px;
  background: #D1D3D4;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before{
  content: '\2714';
  transition: all 0.5s ease-in-out;
}
.funkyradio input[type="checkbox"]:checked ~ label:before{
  text-indent: 18px !important;
}
.funkyradio-gender input[type="radio"]:checked ~ label:before,
.funkyradio-gender input[type="radio"]:checked ~ label:before,
.funkyradio-gender input[type="checkbox"]:checked ~ label:before,
.funkyradio-gender input[type="checkbox"]:checked ~ label:before{
  color: #fff;
  background-color: #be161e;
}
.funkyradio-gender i{
  position: relative;
  left: 70px !important;
  color: #be161e;
  font-size: 20px;
}
.funkyradio-gender {
  float: left;
  padding-left:0px!important;
  padding-right: 0px!important;
}
.editable {
  height: 80px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 20px;
  display: none;
}
.editable:empty:before{
  content: attr(placeholder);
  display: block;
}
.editable:focus, .editable:hover{
  border: 1px solid #ccc;
  outline-width: 0;
}
.atwho-view-ul > li > a {
  background: none !important;
  color: #000 !important;
}
.atwho-view-ul > li:hover, .atwho-view .cur{
  background: #d8d8d8 !important;
}
.atwho-view .cur > a {
  color: #028c0f !important;
}
.editable.show-editable{
  display: block;
}
.show-more{
  height: 250px !important;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.show-more-link{
  position: relative;
  top: -50px;
}
.reject-accept{
  top: -30px;
}
.label-location{
  font-size: 18px;
}
