@import "bootstrap-sprockets";
@import "bootstrap";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";

.display-none {
  display: none;
}
