@import "bootstrap-sprockets";
@import "bootstrap";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";

.display-none {
  display: none;
}

.tag-user-item {
  background: #d8d8d8;
  padding: 0 4px;
  color: #028c0f !important;
  border-radius: 4px;
  margin: 5px;
}

.tagUsers-search {
  margin: 5px;
  border: solid 1px rgba(128, 128, 128, 0.71);
  border-radius: 5px !important;
}

.tagUsers-list-user {
  margin: 5px;
  overflow-y: scroll;
  max-height: 100px;
  .tags-user-item {
    margin: 2px 0 !important;
    padding: 3px 5px !important;
  }
  .tags-user-item:hover {
    background: rgba(128, 128, 128, 0.35);
    cursor: pointer;
  }
}

.img-upload {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.26);
  object-fit: cover;
}

.truncate-post {
  max-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.post-not-answers {
  font-weight: 200;
  font-style: italic;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: gray;
}

.vote-of-post {
  font-size: 25px;
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 1px 1px grey;
  border-radius: 10px;
  .point-vote {
    padding: 5px 0;
  }
  .btn-vote:hover {
    text-shadow: 1px 1px 3px;
  }
}
