.notification {
  ul {
    width: 450px;
  }
  li {
    box-shadow: 0 1px rgba(128, 128, 128, 0.15);
  }
  li:hover {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.42);
  }
  .notification-icon {
    font-size: 20px;
  }
  .notification-count {
    padding: 2px 3px;
    border: solid 1px;
    height: 20px;
    border-radius: 4px;
    .number {

    }
  }
  .status-no-seen {
    background-color: rgba(190, 22, 30, 0.07);
  }
  .notification-item {
    color: #191919 !important;
    font-size: 12px !important;
    height: 60px !important;
    line-height: 17px !important;
    border-bottom: none !important;
    margin-bottom: -8px;
    color: black;
    .user-avatar {
      border: solid 1px #be161e;
      border-radius: 50px;
      width: 50px;
      object-fit: cover;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .user-name {
      margin-top: 10px;
    }
    .time {
      float: right;
      font-style: italic;
      padding-right: 20px;
      font-size: 12px;
      color: gray;
      text-transform: initial;
    }
    .content {
      text-transform: none !important;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }
  }
  .notification-function {
    .notification-function-seen-all {
      padding-left: 10px !important;
      color: rgb(190, 22, 30) !important;
    }
    .notification-function-view-all {
      padding-right: 10px !important;
      color: rgb(190, 22, 30) !important;
      float: right;
    }
  }
  .list-notifications{
    height: 295px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.all-notification {
  .notification-item {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    padding-top: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.23);
  }
  .user-avatar {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100px;
    border: solid 1px;
  }
  .user-name {
    text-transform: uppercase;
    color: black;
  }
  .time {
    float: right;
    padding-right: 20px;
    font-style: italic;
    color: black
  }
  .content {
    color: black;
  }
  .status-no-seen {
    background-color: rgba(190, 22, 30, 0.07);
  }
}
