.image-logo {
  width: 110px;
}

.error_explanation, .error_explanation h2 {
  padding: 10px;
  text-align: center;
}

.custom-tag {
  min-height: 5px !important;
}

.f-right {
  float: right;
}

.avatar_user {
  width: 100px;
  height: 100px;
}

.custom_text_link {
  color: black;
}
