<div class="category">
  <%= link_to category_path(category.id), class: "tag-item", remote: true,
    data: {id: "#{category.id}"} do %>
    <span><%= category.count_post %></span>
    <%= category.name %>
  <% end %>
</div>
